body {
    margin: 0;
    background-image: linear-gradient(2deg, #095e92, #4182b3, #68a8d5, #8ecff8)
}

@media only screen and (min-width: 700px){
    .logo {
        margin-top: 100px;
        margin-left: 90px;
    }

    .imgTelaPrincipal {
        margin-top: 100px;
        margin-right: 100px;
    }

    .divBtns {
        margin-top: 20px;
        margin-left: 70px;
        margin-bottom: 83px;
    }

    .btnAdm {
        width: 600px;
        background-color: #0f4561;
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .btnFun {
        width: 600px;
        background-color: #e5e5e5;
        color: #0f4561;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media only screen and (max-width: 700px){

    .divBtns {
        margin-top: 350px;
     
    }
    .btnAdm {
        width: 400px;
        background-color: #0f4561;
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 5px;
    }
    .btnFun {
       
        background-color: #e5e5e5;
        color: #0f4561;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 5px;
    }
}