#upImage{
    visibility:hidden;
}

#funcFoto{
    position: static;
    width:105px;
    height:100px;
    border: 1px solid  #1a8fbb;

}

#funcImageSec{
    width:105px;
    height: 130px

}

#navbar{
    position: fixed;
    width: 100%;
}

#btn-upload{
    background-color: #0f4561;
    width:105px;
    height:30px;
}

#btnSave{
    margin-top: 80%;
    margin-left: 90%;
    position: relative;
    
}
  
.col-sm{
    padding-left: inherit;
    padding: 2%;
}

.color {
    background: #0f4561;
}

.formInputs{
    float:right;
    width:65%;
}

section {
    padding: 30px 30px 30px 30px;
}

h3{
    margin-top: 75px;
    display:block;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    color: white;
    background-color: #1a8fbb;
}

label, span{
    display: inline-block;
    /* width:100px; */
    padding: 5px;
}
