.color {
    background: #0f4561;
}

@media only screen and (min-width: 700px){

    .imgTelaIncio {
        height: 450px;
        width: 450px;
    }

    .divBtns {
        margin-top: 20px;
        margin-left: 70px;
        margin-bottom: 83px;
    }

    .btnAdm {
        width: 600px;
        background-color: #0f4561;
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    p {
        font-size: 20px;   
        text-align: justify;   
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 700px){

    .imgTelaIncio {
        display: none;
    }
    
    .btnAdm {
        width: 350px;
        background-color: #0f4561;
        color: white;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 5px;
    }
}
