<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Style/CssTelabBeneficios.css">
    <link rel="stylesheet" href="../fontawesome-free-5.15.3-web/css/all.min.css">
    <script src="../bootstrap-5.0.0-beta3-dist/js/bootstrap.bundle.js"></script>
    <script src="../fontawesome-free-5.15.3-web/js/all.min.js"></script>
    <script src="../Scripts/editarBeneficio.js"></script>

    <title>Editar Benefícios</title>
</head>

<body id="beneficios">
    <nav class="color navbar navbar-expand-lg navbar-dark shadow-lg fixed-top">
        <div class="container-fluid">
            <h1 class="navbar-brand fs-2">rhweb</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="telaInicioAdm.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light" href="TelaFuncionarios.html">Funcionários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light" href="TelaFuncionariosDesligados.html">Funcionários Desligados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light" href="telaNovoCadastro.html">Novo Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="beneficios.html">Benefícios</a>
                    </li>
                </ul>
                <a href="index.html"><i class="fas fa-power-off fa-2x text-light"></i></a>
            </div>
        </div>
    </nav>

    <section class="shadow shadow-lg boot2 mt-5">
        <div class="container mt-5">
            <p class="opcoes">Editar Benefícios</p>
        </div>

        <div class="container mt-5">
            <form class="form group">
                <label for="desc">DESCRIÇÃO:</label><br>
                <input class="form-control" type="text" id="Editadesc"><br>
                <label for="tipos">TIPOS DE BENEFÍCIO:</label><br>
                <select class="form-control" id="EditaSltTipos">
                    <option></option>
                </select><br>
                <label for="descontolist">TIPO DE DESCONTO:</label><br>
                <select class="form-control" id="EditaSltTiposDescontos">
                    <option></option>
                    <option value="P">Porcentagem</option>
                    <option value="V">Valor</option>
                </select><br>
                <label for="desconto">DESCONTO:</label><br>
                <input class="form-control" type="number" id="EditaDesconto" >
            </form>
            <br>
            <button class="salvar" type="submit">Salvar</button>

        </div>
    </section>
               

    

</body>

</html>