<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../fontawesome-free-5.15.3-web/css/all.min.css">
    <link rel="stylesheet" href="../Style/CssProjetoWeb.css">
    <script src="../bootstrap-5.0.0-beta3-dist/js/bootstrap.bundle.js"></script>
    <script src="../fontawesome-free-5.15.3-web/js/all.min.js"></script>
    <script src="../Scripts/telaInicioAdm.js"></script>
    <script src="../Scripts/common.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="../Style/telaInicioAdm.css">
    <title>rhweb Administrador</title>
</head>

<body>
    <nav class="color navbar navbar-expand-lg navbar-dark shadow-lg fixed-top">
        <div class="container-fluid">
            <h1 class="navbar-brand fs-2">rhweb</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light " href="TelaFuncionarios.html">Funcionários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light" href="TelaFuncionariosDesligados.html">Funcionários Desligados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light" href="telaNovoCadastro.html">Novo Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="beneficios.html">Benefícios</a>
                    </li>
                </ul>
                <a onclick="logout()"><i class="fas fa-power-off fa-2x text-light"></i></a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-6 ">
            <div class="divBtns">
                <a href="../View/telaQuemSomosNos.html" class="btn btn-lg btn-block btnAdm mb-5">Quem somos nós?</a>
                <a href="../View/avisos.html" class="btn btn-lg btn-block btnAdm mb-5">Avisos</a>
                <a href="../View/noticias.html" class="btn btn-lg btn-block btnAdm">Notícias</a>
            </div>
        </div>
        <div class="col-6">
            <img src="../IMG/telaInicio.jpeg" alt="img" class="imgTelaIncio">
        </div>
    </div>

</body>

</html>